name: GitHub Profile Metrics – Tetris

on:
  schedule:
    - cron: "0 */12 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Usuário do GitHub
          user: ${{ github.repository_owner }}
          template: classic
          filename: dist/tetris-contribution-grid.svg

          # Plugins
          plugins_tetris: yes
          plugins_tetris_duration: 30
          plugins_tetris_idle: 3

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v2.6.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
