name: Generate Tetris Calendar

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ${{ github.repository_owner }}
          
          template: classic
          filename: metrics.plugin.isocalendar.svg
          
          # Calendário isométrico (visual mais interessante)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          # Animações
          config_animations: yes
          config_timezone: America/Sao_Paulo
          
      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v2.6.0
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
