name: Generate Tetris Calendar

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Obrigatório
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ${{ github.repository_owner }}

          template: classic
          filename: dist/tetris-contribution-grid.svg

          # Efeito mais próximo do Tetris
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_animations: yes
          config_output: svg

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v2.6.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
